---
import Button from '../components/Button.astro'
import Carousel from '../components/Carousel.astro'
import Layout from '../layouts/Layout.astro'
import waIcon from '../assets/waIcon.png'
import { Image } from 'astro:assets'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <header>
    <Carousel />
    <section id="historia">
      <h1 transition:name="name-site">TIERRITA MÍA</h1>
      <p>
        "Cada bocado es un viaje a las recetas de la abuela, donde el sabor del mar se encuentra con la tradición.
        Pescado fresco, cariño en cada plato y el auténtico sabor de nuestra tierra."
      </p>
      <div id="buttonsInit">
        <Button id="llamar" text="Llamar a 626591157" type="button" link={{ link: 'tel:+34626591157', newTab: true }} />
        <Button
          id="localizacion"
          type="button"
          text="Whatsapp"
          link={{ link: 'https://wa.me/34626591157?text=Hola%20quiero%20hacer%20una%20reserva', newTab: true }}
        >
          <Image width={50} style={{ height: '32px', width: 'auto' }} src={waIcon} alt={'whatsapp'} />
        </Button>
      </div>
    </section>
  </header>
  <main>
    <section id="localizacion">
      <div>
        <h2>LOCALIZACIÓN</h2>
        <p>Nos encontramos en Torre del mar, muy cerca de la costa.</p>
        <p>Disfruta de nuestras vistas a la playa.</p>
      </div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6394.664142163913!2d-4.093244600000001!3d36.7385996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd7247be9d0d3fcf%3A0x5bb97f649ada83a4!2s29740%20Torre%20del%20Mar%2C%20M%C3%A1laga!5e0!3m2!1ses!2ses!4v1743685991885!5m2!1ses!2ses"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
  </main>
</Layout>
<style>
  header {
    display: flex;
    align-items: start;
    gap: 2rem;
    flex-wrap: wrap-reverse;
    justify-content: center;
    min-height: 284px;
    #historia {
      display: flex;
      flex-direction: column;
      min-height: 284px;
      gap: 15px;
      justify-content: space-between;
      align-items: center;
    }
  }

  h1 {
    font-size: 5rem;
    color: var(--link);
    margin-top: -30px;
    text-align: center;
  }

  p {
    text-align: center;
    max-width: 440px;
    color: var(--link);
  }
  #buttonsInit {
    width: fit-content;
    display: flex;
    gap: 20px;
  }
  #localizacion {
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    div {
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: center;
    }
    h2 {
      font-size: 2rem;
      color: var(--link);
      width: fit-content;
    }
    iframe {
      border-radius: 5px;
      max-height: 300px;
    }
  }
  @media only screen and (max-width: 1111px) {
    #localizacion {
      max-width: 600px;
      div {
        width: auto;
        align-items: center;
      }
    }
  }
</style>
