---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <header>
    <h1 transition:name="name-site">TIERRITA MÍA</h1>
  </header>
</Layout>

<style>
  header {
    h1 {
      width: 100%;
      font-size: 5rem;
      color: var(--link);
      margin-top: -30px;
      text-align: center;
    }
  }
</style>
