---
import Footer from '../components/Footer.astro'
import Nav from '../components/Nav.astro'
import '../styles/global.css'
import { ClientRouter } from 'astro:transitions'
import waIcon from '../assets/waIcon.png'
import { Image } from 'astro:assets'
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Tierrita mia</title>
    <ClientRouter />
  </head>
  <body>
    <Nav />
    <div id="main">
      <slot />
    </div>
    <a
      target="_blank"
      href="https://wa.me/34626591157?text=Hola%20quiero%20hacer%20una%20reserva"
      id="waButtonLeftBottom"
      class="buttonExternal"
    >
      <Image width={50} style={{ height: '100%', width: 'auto' }} src={waIcon} alt={'whatsapp'} /></a
    >
    <Footer />
  </body>
</html>
<style>
  #main {
    width: 100%;
    max-width: 1280px;
    min-height: 82.2vh;
    margin: auto;
    padding-top: 120px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .buttonExternal {
    background-color: var(--link);
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 100%;
    position: fixed;
    right: 20px;
    bottom: 30px;
    border: none;
    cursor: pointer;
    z-index: 10;
  }
  .buttonExternal:hover {
    background-color: var(--link-light);
    scale: 1.05;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.336);
  }
  @media only screen and (max-width: 774px) {
    .buttonExternal {
      display: none;
    }
  }
</style>
